# Disabled checks: fuchsia-*, cppcoreguidelines-*
Checks: 'abseil-*,
         android-*,
         boost-*,
         bugprone-*,
         cert-*,
         clang-analyzer-*,
         google-*,
         hicpp-*,
         llvm-*,
         misc-*,
         modernize-*,
         mpi-*,
         objc-*,
         performance-*,
         portability-*,
         readability-*,
         zircon-*'
User: tomKPZ
