# Disabled checks:
# fuchsia-*
# cppcoreguidelines-pro-bounds-pointer-arithmetic
# cppcoreguidelines-pro-type-reinterpret-cast
# cppcoreguidelines-pro-type-union-access
# llvm-header-guard
Checks: 'abseil-*,
         android-*,
         boost-*,
         bugprone-*,
         cert-*,
         clang-analyzer-*,
         cppcoreguidelines-avoid-goto,
         cppcoreguidelines-c-copy-assignment-signature,
         cppcoreguidelines-interfaces-global-init,
         cppcoreguidelines-narrowing-conversions,
         cppcoreguidelines-no-malloc,
         cppcoreguidelines-owning-memory,
         cppcoreguidelines-pro-bounds-array-to-pointer-decay,
         cppcoreguidelines-pro-bounds-constant-array-index,
         cppcoreguidelines-pro-type-const-cast,
         cppcoreguidelines-pro-type-cstyle-cast,
         cppcoreguidelines-pro-type-member-init,
         cppcoreguidelines-pro-type-static-cast-downcast,
         cppcoreguidelines-pro-type-vararg,
         cppcoreguidelines-slicing,
         cppcoreguidelines-special-member-functions,
         google-*,
         hicpp-*,
         llvm-include-order,
         llvm-namespace-comment,
         llvm-twine-local,
         misc-*,
         modernize-*,
         mpi-*,
         objc-*,
         performance-*,
         portability-*,
         readability-*,
         zircon-*'
User: tomKPZ
